<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="~{include/usrHead :: usrHead}"></div>
</head>

<body>

	<!-- Wrapper -->
	<div id="wrapper">
		<div th:replace="~{include/usrHeader :: usrHeader}"></div>


		<!-- Titlebar
================================================== -->
		<div id="titlebar">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<h2>My Profile</h2>

						<!-- Breadcrumbs -->
						<nav id="breadcrumbs">
							<ul>
								<li><a href="#">Home</a></li>
								<li>My Profile</li>
							</ul>
						</nav>

					</div>
				</div>
			</div>
		</div>


		<!-- Content
================================================== -->
		<div class="container">
			<div class="row">


				<!-- Widget -->
				<div class="col-md-4">
					<div class="sidebar left">

						<div class="my-account-nav-container">

							<ul class="my-account-nav">
								<li class="sub-nav-title">Manage Account</li>
								<li><a href="my-profile-update.html" class="current"><i class="sl sl-icon-user"></i> My
										Profile</a></li>
								<li><a href="my-partys.html"><i class="sl sl-icon-star"></i> 참가한 파티</a>
								</li>
								<li><a href="party-make.html"><i class="fa fa-legal"></i> 파티만들기</a>
								</li>
							</ul>


							<ul class="my-account-nav">
								<li><a href="change-password.html"><i class="sl sl-icon-lock"></i> Change Password</a>
								</li>
								<li><a href="#"><i class="sl sl-icon-power"></i> Log Out</a></li>
							</ul>

						</div>

					</div>
				</div>

				<div class="col-md-8">
					<div class="row">


						<div class="col-md-8 my-profile">
							<h4 class="margin-top-0 margin-bottom-30">My Account</h4>

							<label>Your ID</label>
							<input value="도라에몽" type="text">

							<label>Your InGameNickName</label>
							<div class="main-search-box">

								<!-- Main Search Input -->
								<div class="main-search-input larger-input">
									<input type="text" class="ico-01" id="autocomplete-input" placeholder="닉네임 검색"
										value="" />
									<button class="button">Search</button>
								</div>
							</div>

							<label>Your Most 3 Character</label>
							<div class="style-2">

								<!-- Toggle 1 -->
								<div class="toggle-wrap">
									<span class="trigger "><a href="#">1번재 캐릭터 이름<i
												class="sl sl-icon-plus"></i></a></span>
									<ul class="toggle-container" style="list-style: none;">
										<li>평균 딜량 : </li>
										<li>승률 : </li>
										<li>An item : </li>
									</ul>
								</div>

								<!-- Toggle 2 -->
								<div class="toggle-wrap">
									<span class="trigger"><a href="#"> 2번재 캐릭터 이름 <i
												class="sl sl-icon-plus"></i></a></span>
									<div class="toggle-container">
										<p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
											doloremque laudantium, totam rem aperiam. Donec ut volutpat metus. Aliquam
											tortor lorem, fringilla tempor dignissim at, pretium et arcu.</p>
									</div>
								</div>

								<!-- Toggle 3 -->
								<div class="toggle-wrap">
									<span class="trigger"><a href="#">3번재 캐릭터 이름 <i class="sl sl-icon-plus"></i>
										</a></span>
									<div class="toggle-container">
										<p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
											doloremque laudantium, totam rem aperiam. Donec ut volutpat metus. Aliquam
											tortor lorem, fringilla tempor dignissim at, pretium et arcu.</p>
									</div>
								</div>

							</div>

							<label>your tier</label>
							<span>다이아</span>

							<label>Email</label>
							<input value="jennie@example.com" type="text">

							<h4 class="margin-top-50 margin-bottom-25">About Me</h4>
							<textarea name="about" id="about" cols="30"
								rows="10">Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper</textarea>

							<!-- 저장 버튼 -->
							<button class="button margin-top-20 margin-bottom-20">Save Changes</button>
						</div>

						<div class="col-md-4">
							<!-- Avatar -->
							<div class="edit-profile-photo">
								<img src="images/agent-02.jpg" alt="">
								<div class="change-photo-btn">
									<div class="photoUpload">
										<span><i class="fa fa-upload"></i> Upload Photo</span>
										<input type="file" class="upload" />
									</div>
								</div>
							</div>

						</div>


					</div>
				</div>

			</div>
		</div>


		<!-- Footer
================================================== -->
		<div class="margin-top-55"></div>

		<div id="footer" class="sticky-footer">
			<!-- Main -->
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-sm-6">
						<img class="footer-logo" src="images/logo.png" alt="">
						<br><br>
						<p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros.
							Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>
					</div>

					<div class="col-md-4 col-sm-6 ">
						<h4>Helpful Links</h4>
						<ul class="footer-links">
							<li><a href="#">Login</a></li>
							<li><a href="#">Sign Up</a></li>
							<li><a href="#">My Account</a></li>
							<li><a href="#">Add Property</a></li>
							<li><a href="#">Pricing</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>

						<ul class="footer-links">
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Our Agents</a></li>
							<li><a href="#">How It Works</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
						<div class="clearfix"></div>
					</div>

					<div class="col-md-3  col-sm-12">
						<h4>Contact Us</h4>
						<div class="text-widget">
							<span>12345 Little Lonsdale St, Melbourne</span> <br>
							Phone: <span>(123) 123-456 </span><br>
							E-Mail:<span> <a href="#">office@example.com</a> </span><br>
						</div>

						<ul class="social-icons margin-top-20">
							<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
							<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
							<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
							<li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
						</ul>

					</div>

				</div>

				<!-- Copyright -->
				<div class="row">
					<div class="col-md-12">
						<div class="copyrights">© 2016 Findeo. All Rights Reserved.</div>
					</div>
				</div>

			</div>

		</div>
		<!-- Footer / End -->


		<!-- Back To Top Button -->
		<div id="backtotop"><a href="#"></a></div>
	</div>
	<!-- Wrapper / End -->
	
	<div th:replace="~{include/commonjs :: commonUsrJs}"></div>

</body>

</html>