<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ERR.infra.member.MemberDao">

	<resultMap id="resultMapObj"
		type="com.ERR.infra.member.MemberDto"></resultMap>

	<select id="selectList" resultMap="resultMapObj">
			select
		memberSeq
		,memberID
		,memberPwd
		,memberName
		,memberBirthday
		,memberEmail
		,memberDpt
		,memberDelNy
		,memberGenderCd
		,memberRegDate
		,memberModDate
		From member
		WHERE 1=1
		<if test="voDelNy != null and !voDelNy.equals('')">AND memberDelNy = #{voDelNy}</if>

		<choose>
			<when test="voOptionDate == 1">AND memberRegDate BETWEEN #{voDateStart} AND #{voDateEnd}</when>
			<when test="voOptionDate == 2">AND memberModDate BETWEEN #{voDateStart} AND #{voDateEnd}</when>
		</choose>

		<choose>
			<when test="voOption == 1">AND memberSeq = #{voValue}</when>
			<when test="voOption == 2">AND memberGenderCd = #{voValue}</when>
			<when test="voOption == 3">AND memberBirthday LIKE CONCAT('%',#{voValue},'%')</when>
			<when test="voOption == 4">AND memberName LIKE CONCAT('%',#{voValue},'%')</when>
			<when test="voOption == 5">AND memberID LIKE CONCAT('%',#{voValue},'%')</when>
		</choose>
	</select>

	<!-- select a.seq ,a.name ,(select count(*) from code aa where 1=1 and aa.codeGroup_seq 
		= a.seq) as xcount ,a.delNy ,a.regDate ,a.modDate from codeGroup a -->


	<select id="selectOne" resultMap="resultMapObj">
		select
			memberSeq
			,memberID
			,memberPwd
			,memberName
			,memberBirthday
			,memberEmail
			,memberDpt
			,memberDelNy
			,memberGenderCd
			,memberRegDate
			,memberModDate
			From member
		where 1=1
				and memberSeq=#{memberSeq}
	</select>

	<insert id="insert">
		insert into member(
				memberName,
				memberID,
				memberPwd,
				memberBirthday,
				memberEmail,
				memberDelNy,
				memberAdminNy,
				memberGenderCd,
				memberRegDate,
				memberModDate)
				VALUES
				(
				#{memberName},
				#{memberID},
				#{memberPwd},
				#{memberBirthday},
				#{memberEmail},
				0,
				#{memberAdminNy},
				#{memberGenderCd},
				now(),
				now()
		    )

		<selectKey resultType="String" keyProperty="memberSeq"
			order="AFTER">
			select last_insert_id()
		</selectKey>
	</insert>


	<update id="update">
		UPDATE member
		<set>
            <if test="memberEmail != null or memberEmail != ''">memberEmail = #{memberEmail},</if>
            <if test="memberDpt != null or memberDpt != ''">memberDpt = #{memberDpt},</if>
        </set>
		where 1=1
			and memberSeq=#{memberSeq}
	</update>

	<update id="uelete">
		update member
		set 
		memberDelNy=1
		where 1=1
		 and memberSeq = #{memberSeq}
	</update>

	<delete id="delete">
		delete From member
			where 1=1
		and memberSeq=#{memberSeq}
	</delete>
	
	<select id="selectLogin" resultMap="resultMapObj"> 
		select 
			memberID
			,memberPwd
			,memberEmail
			,memberName
			,memberSeq
		FROM member 
		WHERE 1=1
		 AND memberID = #{memberID}
	</select>
	
	<insert id="memberReg">
		insert into member(
				memberID,
				memberPwd,
				memberName,
				memberGenderCd,
				memberBirthday,
				memberEmail,
				memberDelNy,
				memberAdminNy,
				memberRegDate,
				memberModDate)
				VALUES
				(
				#{memberID},
				#{memberPwd},
				#{memberName},
				#{memberGenderCd},
				#{memberBirthday},
				#{memberEmail},
				0,
				#1,
				now(),
				now()
		    )
	
	</insert>


</mapper>