<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="~{include/usrHead :: usrHead}"></div>
</head>

<body>

	<!-- Wrapper -->
	<div id="wrapper">
		<div th:replace="~{include/usrHeader :: usrHeader}"></div>
		<!-- Titlebar
================================================== -->
		<div id="titlebar" class="property-titlebar margin-bottom-0">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<a href="listings-list-with-sidebar.html" class="back-to-listings"></a>
						<div class="property-title">
							<h2 th:text="${item.characterName}">캐릭터 이름</h2>
						</div>




					</div>
				</div>
			</div>
		</div>


		<!-- Content
================================================== -->

		<!-- Slider -->
		<div class="fullwidth-property-slider margin-bottom-50">
			<a href="images/single-property-01.jpg" data-background-image="images/single-property-01.jpg"
				class="item mfp-gallery"></a>
			<a href="images/single-property-02.jpg" data-background-image="images/single-property-02.jpg"
				class="item mfp-gallery"></a>
			<a href="images/single-property-03.jpg" data-background-image="images/single-property-03.jpg"
				class="item mfp-gallery"></a>
			<a href="images/single-property-04.jpg" data-background-image="images/single-property-04.jpg"
				class="item mfp-gallery"></a>
			<a href="images/single-property-05.jpg" data-background-image="images/single-property-05.jpg"
				class="item mfp-gallery"></a>
			<a href="images/single-property-06.jpg" data-background-image="images/single-property-06.jpg"
				class="item mfp-gallery"></a>
		</div>


		<div class="container">
			<div class="row">

				<!-- Property Description -->
				<div class="col-lg-12 col-md-7">
					<div class="property-description">

						<!-- Main Features -->
						<ul class="property-main-features">
							<li>시작 hp <span th:text="${item.characterHp}">555 아이콘 찾아보고 갠찬은거있음 넣음</span></li>
							<li>시작 mp <span th:text="${item.characterMp}">555</span></li>
							<li>시작 공격력 <span th:text="${item.characterAtk}">55</span></li>
							<li>시작 방어력 <span th:text="${item.characterDef}">55</span></li>
						</ul>


						<!-- Description -->
						<h3 class="desc-headline">캐릭터 상세설명 (스토리일화)</h3>
						<div class="show-more">
							<p th:text="${item.characterDept}"></p>
							<a href="#" class="show-more-button">Show More <i class="fa fa-angle-down"></i></a>
						</div>


						<!-- Video -->
						<h3 class="desc-headline no-border">티저영상</h3>
						<div class="responsive-iframe">
							<iframe width="560" height="315"
								src="https://www.youtube-nocookie.com/embed/UPBJKppEXoQ?rel=0&amp;showinfo=0"
								th:src="${item.characterVideoPath}" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
				<!-- Property Description / End -->


				<!-- Sidebar -->

			</div>
			<!-- Sidebar / End -->
		</div>
	</div>


	<!-- Footer
================================================== -->
	<div class="margin-top-55"></div>

	<div id="footer" class="sticky-footer">
		<!-- Main -->
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-6">
					<img class="footer-logo" src="images/logo.png" alt="">
					<br><br>
					<p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut
						lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>
				</div>

				<div class="col-md-4 col-sm-6 ">
					<h4>Helpful Links</h4>
					<ul class="footer-links">
						<li><a href="#">Login</a></li>
						<li><a href="#">Sign Up</a></li>
						<li><a href="#">My Account</a></li>
						<li><a href="#">Add Property</a></li>
						<li><a href="#">Pricing</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>

					<ul class="footer-links">
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Our Agents</a></li>
						<li><a href="#">How It Works</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
					<div class="clearfix"></div>
				</div>

				<div class="col-md-3  col-sm-12">
					<h4>Contact Us</h4>
					<div class="text-widget">
						<span>12345 Little Lonsdale St, Melbourne</span> <br>
						Phone: <span>(123) 123-456 </span><br>
						E-Mail:<span> <a href="#">office@example.com</a> </span><br>
					</div>

					<ul class="social-icons margin-top-20">
						<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
						<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
						<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
						<li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
					</ul>

				</div>

			</div>

			<!-- Copyright -->
			<div class="row">
				<div class="col-md-12">
					<div class="copyrights">© 2016 Findeo. All Rights Reserved.</div>
				</div>
			</div>

		</div>

	</div>
	<!-- Footer / End -->


	<!-- Back To Top Button -->
	<div id="backtotop"><a href="#"></a></div>



	</div>
	<!-- Wrapper / End -->

	<div th:replace="~{include/commonjs :: commonUsrJs}"></div>


</body>

</html>