<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="~{include/xdmHead :: xdmHead}"></div>
</head>

<body>

	<!-- Page wrapper start -->
	<div class="page-wrapper">

		<!-- Main container start -->
		<div class="main-container">

			<div th:replace="~{include/xdmAside :: xdmAside}"></div>

			<div th:replace="~{include/xdmHeader :: xdmHeader}"></div>

				<!-- App hero header starts -->
				<div class="app-hero-header d-flex align-items-start">

					<!-- Breadcrumb start -->
					<ol class="breadcrumb d-none d-lg-flex align-items-center">
						<li class="breadcrumb-item"><i class="bi bi-house"></i> <a href="index.html">Home</a></li>
						<li class="breadcrumb-item">tables</li>
						<li class="breadcrumb-item" aria-current="page">등록</li>
					</ol>
					<!-- Breadcrumb end -->



				</div>
				<!-- App Hero header ends -->

				<!-- App body starts -->
				<div class="app-body">

					<!-- Row start -->
					<div class="row">
						<div class="col-xxl-12">
							<div class="card mb-4">
								<div class="card-body">
									<form name="formInsert" id="formInsert" class="row g-3"
										method="post">

										<div class="col-md-3">
											<label for="characterName" class="form-label">캐릭터 이름:</label>
											<input type="text" class="form-control" name="characterName" id="characterName"  />
											<div class="invalid-feedback" id="characterNameFeedback"></div>
										</div>
										<div class="col-md-3">
											<label for="characterHp" class="form-label">캐릭터 체력:</label>
											<input type="text" class="form-control" name="characterHp" id="characterHp"  />
											<div class="invalid-feedback" id="characterHpFeedback"></div>
										</div>
										<div class="col-md-3">
											<label for="characterMp" class="form-label">캐릭터 마나:</label>
											<input type="text" class="form-control" name="characterMp" id="characterMp"   />
											<div class="invalid-feedback" id="characterMpFeedback"></div>
										</div>
										<div class="col-md-3">
											<label for="characterDef" class="form-label">캐릭터 방어력:</label>
											<input type="text" class="form-control" name="characterDef" id="characterDef"   />
											<div class="invalid-feedback" id="characterDefFeedback"></div>
										</div>
										<div class="col-md-3">
											<label for="characterAtk" class="form-label">캐릭터 공격력:</label>
											<input type="text" class="form-control" name="characterAtk" id="characterAtk"   />
											<div class="invalid-feedback" id="characterAtkFeedback"></div>
										</div>
										<div class="col-md-9">
											<label for="characterVideoPath" class="form-label">캐릭터 유튜브경로:</label>
											<input type="text" class="form-control" name="characterVideoPath" id="characterVideoPath"   />
											<div class="invalid-feedback" id="characterVideoPathFeedback"></div>
										</div>

										<div class="col-md-6">
											<label for="characterDept" class="form-label"><span>상세설명 :</span></label>
											<textarea class="form-control" name="characterDept" id="characterDept" style="height: 300px"></textarea>
											<div class="invalid-feedback" id="characterDeptFeedback"></div>
										</div>

										<div class="d-flex justify-content-between col-12">
											<a href="#" th:href="@{/characterXdmList}" class="btn btn-primary"
												role="button">
												뒤로가기 </a>

											<button class="btn btn-primary" id="btnInsert">등록</button>
										</div>
									</form>


								</div>
							</div>
						</div>
					</div>
					<!-- Row end -->



				</div>
				<!-- App body ends -->


				<!-- App footer start -->
				<div class="app-footer">
					<span>© Bootstrap Gallery 2023</span>
				</div>
				<!-- App footer end -->

			</div>
			<!-- App container ends -->

		</div>
		<!-- Main container end -->

	</div>
	<!-- Page wrapper end -->

	<div th:replace="~{include/commonjs :: commonXdmJs}"></div>

	<script>

		let form = document.querySelector("form[name=formInsert]");
		let seq = document.querySelector("input[name=seq]");
		let goUrlXdmList = "/characterXdmList";
		let goUrlXdmInstForm = "/characterInsert";
		let goUrlXdmView = "/characterXdmView";

		// 등록버튼
		document.getElementById("btnInsert").onclick = function () {
			if (validationInst() == false) {
				return false;
			} else {
				form.action = goUrlXdmInstForm
				form.submit();
			}

		}

		function validationInst() {
			if (validationUpdt() == false) {
				return false;
			}
		}

		function validationUpdt() {
			if (!checkOnlyKoreanEnglishNumber('characterName',2,0,'한글 영어 숫자만 가능합니다')) return false;
			if (!checkOnlyKoreanEnglishNumber('characterDpt',2,0,'한글 영어 숫자만 가능합니다')) return false;
			if (!checkOnlyNumber('characterHp',2,0,0,1,9999,'숫자만 가능합니다')) return false;
			if (!checkOnlyNumber('characterMp',2,0,0,1,9999,'숫자만 가능합니다')) return false;
			if (!checkOnlyNumber('characterDef',2,0,0,1,9999,'숫자만 가능합니다')) return false;
			if (!checkOnlyNumber('characterAtk',2,0,0,1,9999,'숫자만 가능합니다')) return false;
		}

		

	</script>










</body>

</html>