<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    codeGroupViewUpdate123123123html
    <br>
    <form method="post" action="/codeGroupUpdt" >
	    <input type="text" name="seq" th:placeholder="${item.seq}" th:value="${item.seq}" />
	    <br>
	    <input type="text" name="name" th:placeholder="${item.name}" th:value="${item.name}"/>
	    <button type="submit">수정</button>
	</form>
	    

</body>
</html>

