<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    
   
    <title>포트폴리오 | index</title>
    <!-- font icons -->
    <link rel="stylesheet" href="index/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + Meyawo main styles -->
    <link rel="stylesheet" href="index/css/meyawo.css">
    
	
   

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">



    <!-- page header -->
    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="header-content container">
            <h1 class="header-title">
                <span class="up">HI!</span>
                <span class="down">I am Hansol Lee</span>
            </h1>
            <p class="header-subtitle">FullStack WEB Developer</p>

        </div>
    </header><!-- end of page header -->

    <!-- about section -->
    <section class="section pt-0" id="about">
        <!-- container -->
        <div class="container text-center" style="padding-left: 200px;">
            <!-- about wrapper -->
            <div class="about">
                <div class="about-caption">
                    <p class="section-subtitle">Who Am I ?</p>
                    <h2 class="section-title mb-3">About Me</h2>
                    
                    <div> 이한솔</div> 
                    <div> Birth : 1996.08.25</div> 
                    <div> Email : lhansol1996@gmail.com </div> 
                    <div> GitHub 주소 :<a href="https://github.com/lhansol1996"> https://github.com/lhansol1996</a></div> 
                    <div> Notion 주소 : <a href="https://www.notion.so/50c0e7618b4440928fcf712b6c07c5f8" alt="">https://www.notion.so/50c0e7618b4440928fcf712b6c07c5f8</a></div> 
                    <div> 자기소개</div> 
                    
                </div>
            </div><!-- end of about wrapper -->
        </div><!-- end of container -->
    </section> <!-- end of about section -->

    <!-- service section -->
    <section class="section" id="service">
        <div class="container text-center">
            <p class="section-subtitle">What I Do ?</p>
            <h6 class="section-title mb-6">Service</h6>
            <!-- row -->
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="index/imgs/pencil-case.svg"
                                alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page"
                                class="icon">
                            <h6 class="title">사용기술 1</h6>
                            <p class="subtitle">Labore velit culpa adipisci excepturi consequuntur itaque in nam
                                molestias dolorem iste quod.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="index/imgs/responsive.svg"
                                alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page"
                                class="icon">
                            <h6 class="title">사용기술 2</h6>
                            <p class="subtitle">Labore velit culpa adipisci excepturi consequuntur itaque in nam
                                molestias dolorem iste quod.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="index/imgs/toolbox.svg"
                                alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page"
                                class="icon">
                            <h6 class="title">사용기술 3</h6>
                            <p class="subtitle">Labore velit culpa adipisci excepturi consequuntur itaque in nam
                                molestias dolorem iste quod.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="index/imgs/analytics.svg"
                                alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page"
                                class="icon">
                            <h6 class="title">사용기술 4</h6>
                            <p class="subtitle">Labore velit culpa adipisci excepturi consequuntur itaque in nam
                                molestias dolorem iste quod.</p>
                        </div>
                    </div>
                </div>
            </div><!-- end of row -->
        </div>
    </section><!-- end of service section -->

    <!-- portfolio section -->
    <section class="section" id="portfolio">
        <div class="container text-center">
            <p class="section-subtitle">What I Did ?</p>
            <h6 class="section-title mb-6">Personal Portfolio 2024.03 ~ 2024.04</h6>
            <!-- row -->
            <div class="row mt-5">
                <div class="col-md-6">
                    <a href="#" th:href="@{/userIndex}" class="portfolio-card">
                        <img src="index/imgs/folio-1.jpg" class="portfolio-card-img img-responsive rounded"
                            alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4 class="black-han sans-regular">User Page</h5>
                                    <p class="font-weight-normal black-han">Category: User Index</p>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#" th:href="@{/adminLoginRegister}"  class="portfolio-card">
                        <img class="img-responsive rounded portfolio-card-img" src="index/imgs/folio-2.jpg"
                            alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4 class="black-han sans-regular">Admin Page</h5>
                                    <p class="font-weight-normal black-han">Category: Log-in</p>
                            </span>
                        </span>
                    </a>
                </div>
            </div><!-- end of row -->

            
        </div><!-- end of container -->
    </section> <!-- end of portfolio section -->

    <!-- portfolio section2 -->
    <section class="section" id="portfolio2">
        <div class="container text-center">
            <p class="section-subtitle"></p>
            <h6 class="section-title mb-6">Team Portfolio</h6>
            <!-- row -->
            <div class="row mt-5">
                <div class="col-md-6">
                    <a href="#" th:href="@{/userIndex}" class="portfolio-card">
                        <img src="index/imgs/folio-1.jpg" class="portfolio-card-img img-responsive rounded"
                            alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4 class="black-han sans-regular">User Page</h5>
                                    <p class="font-weight-normal black-han">Category: User Index</p>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#" th:href="@{/adminLoginRegister}"  class="portfolio-card">
                        <img class="img-responsive rounded portfolio-card-img" src="index/imgs/folio-2.jpg"
                            alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4 class="black-han sans-regular">Admin Page</h5>
                                    <p class="font-weight-normal black-han">Category: Log-in</p>
                            </span>
                        </span>
                    </a>
                </div>
            </div><!-- end of row -->

        
    </div><!-- end of container -->
</section> <!-- end of portfolio section -->

    <!-- footer -->
    <div class="container">
        <footer class="footer">
            <p class="mb-0">Copyright
                <script>document.write(new Date().getFullYear())</script> &copy; <a
                    href="http://www.devcrud.com">DevCRUD</a> Distribution <a
                    href="https://themewagon.com">ThemeWagon</a>
            </p>
            <div class="social-links text-right m-auto ml-sm-auto">
                <a href="javascript:void(0)" class="link"><i class="ti-facebook"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-twitter-alt"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-google"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-pinterest-alt"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-instagram"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-rss"></i></a>
            </div>
        </footer>
    </div> <!-- end of page footer -->

    <!-- core  -->
    <script src="index/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="index/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
    <script src="index/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Meyawo js -->
    <script src="index/js/meyawo.js"></script>

<script>
    let aLink = document.querySelectorAll('a');
        aLink.forEach((item) => {
        item.target = "_blank";
    });
</script>

</body>

</html>