<!DOCTYPE html>

<head>

	<!-- Basic Page Needs
================================================== -->
	<title>Findeo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

	<!-- CSS
================================================== -->
	<link rel="stylesheet" href="/usr/assets/css/style.css">
	<link rel="stylesheet" href="/usr/assets/css/color.css">

</head>

<body>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header Container
================================================== -->
		<header id="header-container">

			<!-- Topbar -->
			<div id="top-bar">
				<div class="container">

					<!-- Left Side Content -->
					<div class="left-side">

						<!-- Top bar -->
						<ul class="top-bar-menu">
							<li><i class="fa fa-phone"></i> (123) 123-456 </li>
							<li><i class="fa fa-envelope"></i> <a href="#">office@example.com</a></li>
							<li>
								<div class="top-bar-dropdown">
									<span>Dropdown Menu</span>
									<ul class="options">
										<li>
											<div class="arrow"></div>
										</li>
										<li><a href="#">Nice First Link</a></li>
										<li><a href="#">Second Link With Long Title</a></li>
										<li><a href="#">Third Link</a></li>
									</ul>
								</div>
							</li>
						</ul>

					</div>
					<!-- Left Side Content / End -->


					<!-- Left Side Content -->
					<div class="right-side">

						<!-- Social Icons -->
						<ul class="social-icons">
							<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
							<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
							<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
							<li><a class="pinterest" href="#"><i class="icon-pinterest"></i></a></li>
							<li><button class="btn btn-primary" type="button" id="btnLogout">log-out</button></li>
						</ul>

					</div>
					<!-- Left Side Content / End -->

				</div>
			</div>
			<div class="clearfix"></div>
			<!-- Topbar / End -->


			<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Left Side Content -->
					<div class="left-side">

						<!-- Logo -->
						<div id="logo">
							<a href="index.html"><img src="images/logo.png" alt=""></a>
						</div>


						<!-- Mobile Navigation -->
						<div class="mmenu-trigger">
							<button class="hamburger hamburger--collapse" type="button">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</button>
						</div>


						<!-- Main Navigation -->
						<nav id="navigation" class="style-1">
							<ul id="responsive">

								<li><a href="#">Home</a>
									<ul>
										<li><a href="index.html">Home 1</a></li>
										<li><a href="index-2.html">Home 2</a></li>
										<li><a href="index-3.html">Home 3</a></li>
										<li><a href="index-4.html">Home 4</a></li>
									</ul>
								</li>

								<li><a href="#">Listings</a>
									<ul>
										<li><a href="#">List Layout</a>
											<ul>
												<li><a href="listings-list-with-sidebar.html">With Sidebar</a></li>
												<li><a href="listings-list-with-map.html">With Map</a></li>
												<li><a href="listings-list-full-width.html">Full Width</a></li>
											</ul>
										</li>
										<li><a href="#">Grid Layout</a>
											<ul>
												<li><a href="listings-grid-standard-with-sidebar.html">Standard With
														Sidebar</a></li>
												<li><a href="listings-grid-compact-with-sidebar.html">Compact With
														Sidebar</a></li>
												<li><a href="listings-grid-with-map.html">With Map</a></li>
												<li><a href="listings-grid-full-width.html">Full Width</a></li>
											</ul>
										</li>
										<li><a href="#">Half Map</a>
											<ul>
												<li><a href="listings-half-map-list.html">List Layout</a></li>
												<li><a href="listings-half-map-grid-standard.html">Grid Standard
														Layout</a></li>
												<li><a href="listings-half-map-grid-compact.html">Grid Compact
														Layout</a></li>
											</ul>
										</li>
									</ul>
								</li>

								<li><a href="#">Features</a>
									<ul>
										<li><a href="#">Single Properties</a>
											<ul>
												<li><a href="single-property-page-1.html">Property Style 1</a></li>
												<li><a href="single-property-page-2.html">Property Style 2</a></li>
												<li><a href="single-property-page-3.html">Property Style 3</a></li>
											</ul>
										</li>
										<li><a href="#">Search Styles</a>
											<ul>
												<li><a href="index.html">Home Search 1</a></li>
												<li><a href="index-2.html">Home Search 2</a></li>
												<li><a href="index-3.html">Home Search 3</a></li>
												<li><a href="listings-list-full-width.html">Advanced Style</a></li>
												<li><a href="listings-list-with-sidebar.html">Sidebar Search</a></li>
											</ul>
										</li>
										<li><a href="#">My Account</a>
											<ul>
												<li><a href="my-profile.html">My Profile</a></li>
												<li><a href="my-bookmarks.html">Bookmarked Listings</a></li>
												<li><a href="my-properties.html">My Properties</a></li>
												<li><a href="change-password.html">Change Password</a></li>
											</ul>
										</li>
										<li><a href="#">Agencies & Agents</a>
											<ul>
												<li><a href="agencies-list.html">Agencies List</a></li>
												<li><a href="agency-page.html">Agency Page</a></li>
												<li><a href="agents-list.html">Agents List</a></li>
												<li><a href="agent-page.html">Agent Page</a></li>
											</ul>
										</li>

										<li><a href="compare-properties.html">Compare Properties</a></li>
										<li><a href="submit-property.html">Submit Property</a></li>
									</ul>
								</li>

								<li><a class="current" href="#">Pages</a>
									<ul>
										<li><a href="blog.html">Blog</a>
											<ul>
												<li><a href="blog.html">Blog</a></li>
												<li><a href="blog-post.html">Blog Post</a></li>
											</ul>
										</li>
										<li><a href="contact.html">Contact</a></li>
										<li><a href="elements.html">Elements</a></li>
										<li><a href="pricing-tables.html">Pricing Tables</a></li>
										<li><a href="typography.html">Typography</a></li>
										<li><a href="icons.html">Icons</a></li>
									</ul>
								</li>

							</ul>
						</nav>
						<div class="clearfix"></div>
						<!-- Main Navigation / End -->

					</div>
					<!-- Left Side Content / End -->

					<!-- Right Side Content / End -->
					<div class="right-side">
						<!-- Header Widget -->
						<div class="header-widget">
							<a href="login-register.html" class="sign-in"><i class="fa fa-user"></i> Log In /
								Register</a>
							<a href="submit-property.html" class="button border">Submit Property</a>
						</div>
						<!-- Header Widget / End -->
					</div>
					<!-- Right Side Content / End -->

				</div>
			</div>
			<!-- Header / End -->

		</header>
		<div class="clearfix"></div>
		<!-- Header Container / End -->



		<!-- Titlebar
================================================== -->
		<div id="titlebar">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<h2>Log In & Register</h2>

						<!-- Breadcrumbs -->
						<nav id="breadcrumbs">
							<ul>
								<li><a href="#">Home</a></li>
								<li>Log In & Register</li>
							</ul>
						</nav>

					</div>
				</div>
			</div>
		</div>


		<!-- Contact
================================================== -->

		<!-- Container -->
		<div class="container">

			<div class="row">
				<div class="col-md-4 col-md-offset-4">

					<!--Tab -->
					<div class="my-account style-1 margin-top-5 margin-bottom-40">

						<ul class="tabs-nav">
							<li class=""><a href="#tab1">Log In</a></li>
							<li><a href="#tab2">Register</a></li>
						</ul>

						<div class="tabs-container alt">

							<!-- Login -->
							<div class="tab-content" id="tab1" style="display: none;">
								<form method="post" class="login">

									<div class="form-row form-row-wide">
										<label for="memberID">ID:</label>
										<input type="text" class="input-text" name="memberID" id="memberID" value="" />
										<div class="invalid-feedback" id="memberIDFeedback"></div>
									</div>

									<div class="form-row form-row-wide">
										<label for="memberPwd">Password:</label>
										<input class="input-text" type="password" name="memberPwd" id="memberPwd" />
										<div class="invalid-feedback" id="memberPwdFeedback"></div>
									</div>

									<div class="form-row">
										<button class="btn btn-primary" id="btnLogin" type="button"
											style="--bs-btn-padding-y: 2rem; --bs-btn-padding-x: 2rem; --bs-btn-font-size: 1.5rem;">
											로그인
										</button>
									</div>
								</form>
							</div>

							<!-- Register -->
							<div class="tab-content" id="tab2" style="display: none;">

								<form method="post" class="register">

									<div class="form-row form-row-wide">
										<label for="memberID2">ID:</label>
										<input type="text" class="input-text" name="memberID" id="memberID2" value="" />
									</div>


									<div class="form-row form-row-wide">
										<label for="memberPwd2">비밀번호:</label>
										<input class="input-text" type="password" name="memberPwd2" id="memberPwd2" />
									</div>

									<div class="form-row form-row-wide">
										<label for="memberName">이름:</label>
										<input class="input-text" type="password" name="memberName" id="memberName" />
										<div class="invalid-feedback" id="memberNameFeedback"></div>
									</div>

									<div class="form-row form-row-wide">
										<label for="memberGenderCd">성별:</label>
										<select class="" name="memberGenderCd" id="memberGenderCd">
											<option value="1">남</option>
											<option value="2">여</option>
										</select>
									</div>

									<div class="form-row form-row-wide">
										<label for="memberBirthday">생년월일:</label>
										<input type="text" class="input-text" name="memberBirthday" id="memberBirthday"
											placeholder="ex&#41; 19960825" value="" />
									</div>

									<div class="form-row form-row-wide">
										<label for="email2">Email:</label>
										<input type="text" class="input-text" name="memberEmail" id="memberEmail"
											placeholder="email1@naver.com" value="" />
									</div>

									<div class="form-row">
										<button class="btn btn-primary" id="btnReg"
											style="--bs-btn-padding-y: 2rem; --bs-btn-padding-x: 2rem; --bs-btn-font-size: 1.5rem;">
											로그인
										</button>
									</div>

								</form>
							</div>

						</div>
					</div>



				</div>
			</div>

		</div>
		<!-- Container / End -->

		<!-- Footer
================================================== -->
		<div class="margin-top-55"></div>

		<div id="footer">
			<!-- Main -->
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-sm-6">
						<img class="footer-logo" src="images/logo.png" alt="">
						<br><br>
						<p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros.
							Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>
					</div>

					<div class="col-md-4 col-sm-6 ">
						<h4>Helpful Links</h4>
						<ul class="footer-links">
							<li><a href="#">Login</a></li>
							<li><a href="#">Sign Up</a></li>
							<li><a href="#">My Account</a></li>
							<li><a href="#">Add Property</a></li>
							<li><a href="#">Pricing</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>

						<ul class="footer-links">
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Our Agents</a></li>
							<li><a href="#">How It Works</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
						<div class="clearfix"></div>
					</div>

					<div class="col-md-3  col-sm-12">
						<h4>Contact Us</h4>
						<div class="text-widget">
							<span>12345 Little Lonsdale St, Melbourne</span> <br>
							Phone: <span>(123) 123-456 </span><br>
							E-Mail:<span> <a href="#">office@example.com</a> </span><br>
						</div>

						<ul class="social-icons margin-top-20">
							<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
							<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
							<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
							<li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
						</ul>

					</div>

				</div>

				<!-- Copyright -->
				<div class="row">
					<div class="col-md-12">
						<div class="copyrights">© 2016 Findeo. All Rights Reserved.</div>
						<h6 class="mt-2 text-black">[[${session.sessNameXdm}]]dd</h6>
					</div>
				</div>

			</div>

		</div>
		<!-- Footer / End -->


		<!-- Back To Top Button -->
		<div id="backtotop"><a href="#"></a></div>


		<!-- Scripts
================================================== -->
		<script type="text/javascript" src="/usr/assets/scripts/jquery-3.6.0.min.js"></script>
		<script type="text/javascript" src="/usr/assets/scripts/jquery-migrate-3.3.2.min.js"></script>
		<script type="text/javascript" src="/usr/assets/scripts/chosen.min.js"></script>
		<script type="text/javascript" src="/usr/assets/scripts/magnific-popup.min.js"></script>
		<script type="text/javascript" src="/usr/assets/scripts/owl.carousel.min.js"></script>
		<script type="text/javascript" src="/usr/assets/scripts/rangeSlider.js"></script>
		<script type="text/javascript" src="/usr/assets/scripts/sticky-kit.min.js"></script>
		<script type="text/javascript" src="/usr/assets/scripts/slick.min.js"></script>
		<script type="text/javascript" src="/usr/assets/scripts/masonry.min.js"></script>
		<script type="text/javascript" src="/usr/assets/scripts/mmenu.min.js"></script>
		<script type="text/javascript" src="/usr/assets/scripts/tooltips.min.js"></script>
		<script type="text/javascript" src="/usr/assets/scripts/custom.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
			</script>

		<script src="/xdm/assets/js/validations.js"></script>

		<script>

			let formR = document.querySelector("form[name=formRegister]");
			let formL = document.querySelector("form[name=formLogin]");
			let seq = document.querySelector("input[name=seq]");
			// let goUrlXdmInstForm = "/codeGroupInsert";							
			// let goUrlXdmView = "/codeGroupXdmView";		

			// 등록버튼
			document.getElementById("btnReg").onclick = function () {
				if (validationReg() == false) return false;

				else {
					alert('111')
					// $.ajax({
					// 	async: true 
					// 	,cache: false
					// 	,type: "post"
					// 	/* ,dataType:"json" */
					// 	,url: "/memberLoginRegister"
					// 	/* ,data : $("#formLogin").serialize() */
					// 	,data : { "memberID" : $("#memberID").val(), "memberPwd" : $("#memberPwd").val(), "autoLogin" : $("#autoLogin").is(":checked")}
					// 	,success: function(response) {
					// 		if(response.rt == "success") {
					// 			if(response.changePwd == "true") {
					// 				location.href = "/codeGroupDView";
					// 			} else {
					// 				location.href = "/codeGroupList";
					// 			}
					// 		} else {
					// 			alert('로그인 안됨')
					// 			 // document.getElementById("modalAlertTitle").innerText = "확 인";
					// 			 // document.getElementById("modalAlertBody").innerText = "일치하는 회원이 존재 하지 않습니다!";
					// 			 // $("#modalAlert").modal("show");
					// 		}
					// 	}
					// 	,error : function(jqXHR, textStatus, errorThrown){
					// 		alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
					// 	}
					// });
				}

			}


			// 로그인버튼
			document.getElementById("btnLogin").onclick = function () {
				if (validationLogin() == false) return false;

				
				alert('111-------------------');
				$.ajax({
					async: true
					, cache: false
					, type: "post"
					/* ,dataType:"json" */
					, url: "/memberLogin"
					/* ,data : $("#formLogin").serialize() */
					, data: { "memberID": $("#memberID").val(), "memberPwd": $("#memberPwd").val() }
					, success: function (response) {
						alert(response.rt);
						if (response.rt == "success") {
							alert('로그인 성공');
								location.href = "/codeGroupXdmList";
						} else {
							alert(response.rt);
							alert('로그인 안됨');
							// document.getElementById("modalAlertTitle").innerText = "확 인";
							// document.getElementById("modalAlertBody").innerText = "일치하는 회원이 존재 하지 않습니다!";
							// $("#modalAlert").modal("show");
						}
					}
					, error: function (jqXHR, textStatus, errorThrown) {
						alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
					}
				});
				

			}


			// 로그아웃 버튼
			document.getElementById("btnLogout").onclick = function () {
				alert('111--------------ㄴㄴㄴㄴㄴㄴㄴㄴ-----');
				$.ajax({
					async: true
					, cache: false
					, type: "post"
					/* ,dataType:"json" */
					, url: "/memberLogout"
					/* ,data : $("#formLogin").serialize() */
					// , data: { "memberID": $("#memberID").val(), "memberPwd": $("#memberPwd").val() }
					, success: function (response) {
						alert(response.rt);
						if (response.rt == "success") {
							alert('로그아웃 성공');
								location.href = "/memberLoginRegister";
						} else {
							alert('로그아웃 안됨');
							// document.getElementById("modalAlertTitle").innerText = "확 인";
							// document.getElementById("modalAlertBody").innerText = "일치하는 회원이 존재 하지 않습니다!";
							// $("#modalAlert").modal("show");
						}
					}
					, error: function (jqXHR, textStatus, errorThrown) {
						alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
					}
				});
				

			}

			function validationLogin() {
				alert('예외처리시작L')
				if (!checkNull('memberID', 2, '아이디를 입력해주세요')) return false;
				alert('예외처리1')
				if (!checkNull('memberPwd', 2, '비밀번호를 입력해주세요')) return false;
				alert('예외처리2')

			}

			function validationReg() {
				alert('예외처리시작R')
				if (!checkNull('memberName', 2, '비밀번호를 입력해주세요')) return false;
				alert('예외처리1')
			}




		</script>







	</div>
	<!-- Wrapper / End -->


</body>

</html>