<!DOCTYPE html>

<head>

	<!-- Basic Page Needs
================================================== -->
	<title>Findeo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
================================================== -->
	<link rel="stylesheet" href="/usr/assets/css/style.css">
	<link rel="stylesheet" href="/usr/assets/css/color.css">

</head>

<body>

	<!-- Wrapper -->
	<div id="wrapper">
		<!-- Header Container
================================================== -->
		<header id="header-container">

			<!-- Topbar -->
			<div id="top-bar">
				<div class="container">

					<!-- Left Side Content -->
					<div class="left-side">

						<!-- Top bar -->
						<ul class="top-bar-menu">
							<li><i class="fa fa-phone"></i> (123) 123-456 </li>
							<li><i class="fa fa-envelope"></i> <a href="#">office@example.com</a></li>
							<li>
								<div class="top-bar-dropdown">
									<span>Dropdown Menu</span>
									<ul class="options">
										<li>
											<div class="arrow"></div>
										</li>
										<li><a href="#">Nice First Link</a></li>
										<li><a href="#">Second Link With Long Title</a></li>
										<li><a href="#">Third Link</a></li>
									</ul>
								</div>
							</li>
						</ul>

					</div>
					<!-- Left Side Content / End -->


					<!-- Left Side Content -->
					<div class="right-side">

						<!-- Social Icons -->
						<ul class="social-icons">
							<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
							<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
							<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
							<li><a class="pinterest" href="#"><i class="icon-pinterest"></i></a></li>
						</ul>

					</div>
					<!-- Left Side Content / End -->

				</div>
			</div>
			<div class="clearfix"></div>
			<!-- Topbar / End -->


			<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Left Side Content -->
					<div class="left-side">

						<!-- Logo -->
						<div id="logo">
							<a href="index.html"><img src="images/logo.png" alt=""></a>
						</div>


						<!-- Mobile Navigation -->
						<div class="mmenu-trigger">
							<button class="hamburger hamburger--collapse" type="button">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</button>
						</div>


						<!-- Main Navigation -->
						<nav id="navigation" class="style-1">
							<ul id="responsive">

								<li><a href="#">Home</a>
									<ul>
										<li><a href="index.html">Home 1</a></li>
										<li><a href="index-2.html">Home 2</a></li>
										<li><a href="index-3.html">Home 3</a></li>
										<li><a href="index-4.html">Home 4</a></li>
									</ul>
								</li>

								<li><a class="current" href="#">Listings</a>
									<ul>
										<li><a href="#">List Layout</a>
											<ul>
												<li><a href="listings-list-with-sidebar.html">With Sidebar</a></li>
												<li><a href="listings-list-with-map.html">With Map</a></li>
												<li><a href="listings-list-full-width.html">Full Width</a></li>
											</ul>
										</li>
										<li><a href="#">Grid Layout</a>
											<ul>
												<li><a href="listings-grid-standard-with-sidebar.html">Standard With
														Sidebar</a></li>
												<li><a href="listings-grid-compact-with-sidebar.html">Compact With
														Sidebar</a></li>
												<li><a href="listings-grid-with-map.html">With Map</a></li>
												<li><a href="listings-grid-full-width.html">Full Width</a></li>
											</ul>
										</li>
										<li><a href="#">Half Map</a>
											<ul>
												<li><a href="listings-half-map-list.html">List Layout</a></li>
												<li><a href="listings-half-map-grid-standard.html">Grid Standard
														Layout</a></li>
												<li><a href="listings-half-map-grid-compact.html">Grid Compact
														Layout</a></li>
											</ul>
										</li>
									</ul>
								</li>

								<li><a href="#">Features</a>
									<ul>
										<li><a href="#">Single Properties</a>
											<ul>
												<li><a href="single-property-page-1.html">Property Style 1</a></li>
												<li><a href="single-property-page-2.html">Property Style 2</a></li>
												<li><a href="single-property-page-3.html">Property Style 3</a></li>
											</ul>
										</li>
										<li><a href="#">Search Styles</a>
											<ul>
												<li><a href="index.html">Home Search 1</a></li>
												<li><a href="index-2.html">Home Search 2</a></li>
												<li><a href="index-3.html">Home Search 3</a></li>
												<li><a href="listings-list-full-width.html">Advanced Style</a></li>
												<li><a href="listings-list-with-sidebar.html">Sidebar Search</a></li>
											</ul>
										</li>
										<li><a href="#">My Account</a>
											<ul>
												<li><a href="my-profile.html">My Profile</a></li>
												<li><a href="my-bookmarks.html">Bookmarked Listings</a></li>
												<li><a href="my-properties.html">My Properties</a></li>
												<li><a href="change-password.html">Change Password</a></li>
											</ul>
										</li>
										<li><a href="#">Agencies & Agents</a>
											<ul>
												<li><a href="agencies-list.html">Agencies List</a></li>
												<li><a href="agency-page.html">Agency Page</a></li>
												<li><a href="agents-list.html">Agents List</a></li>
												<li><a href="agent-page.html">Agent Page</a></li>
											</ul>
										</li>

										<li><a href="compare-properties.html">Compare Properties</a></li>
										<li><a href="submit-property.html">Submit Property</a></li>
									</ul>
								</li>

								<li><a href="#">Pages</a>
									<ul>
										<li><a href="blog.html">Blog</a>
											<ul>
												<li><a href="blog.html">Blog</a></li>
												<li><a href="blog-post.html">Blog Post</a></li>
											</ul>
										</li>
										<li><a href="contact.html">Contact</a></li>
										<li><a href="elements.html">Elements</a></li>
										<li><a href="pricing-tables.html">Pricing Tables</a></li>
										<li><a href="typography.html">Typography</a></li>
										<li><a href="icons.html">Icons</a></li>
									</ul>
								</li>

							</ul>
						</nav>
						<div class="clearfix"></div>
						<!-- Main Navigation / End -->

					</div>
					<!-- Left Side Content / End -->

					<!-- Right Side Content / End -->
					<div class="right-side">
						<!-- Header Widget -->
						<div class="header-widget">
							<a href="login-register.html" class="sign-in"><i class="fa fa-user"></i> Log In /
								Register</a>
							<a href="submit-property.html" class="button border">Submit Property</a>
						</div>
						<!-- Header Widget / End -->
					</div>
					<!-- Right Side Content / End -->

				</div>
			</div>
			<!-- Header / End -->

		</header>
		<div class="clearfix"></div>
		<!-- Header Container / End -->



		<!-- Search
================================================== -->
		<section class="search margin-bottom-50">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<!-- Title -->
						<h3 class="search-title">Search</h3>

						<!-- Form -->
						<div class="main-search-box no-shadow">


							<!-- Row With Forms -->
							<div class="row with-forms">


								<!-- Status -->
								<div class="col-md-3">
									<select data-placeholder="티어" class="chosen-select-no-single">
										<option label="blank"></option>
										<option>플레티넘</option>
										<option>골드</option>
										<option>실버</option>
										<option>브론즈</option>
									</select>
								</div>

								<!-- Property Type -->
								<div class="col-md-3">
									<select data-placeholder="랭크/일반" class="chosen-select-no-single">
										<option label="blank"></option>
										<option>랭크</option>
										<option>일반</option>
									</select>
								</div>

								<!-- Main Search Input -->
								<div class="col-md-6">
									<div class="main-search-input">
										<input type="text" placeholder="이름검색" value="" />
										<button class="button">Search</button>
									</div>
								</div>

							</div>
							<!-- Row With Forms / End -->
						</div>
						<!-- Box / End -->
					</div>
				</div>
			</div>
		</section>



		<!-- Content
================================================== -->
		<div class="container">
			<div class="row fullwidth-layout">

				<div class="col-md-12">

					<!-- Sorting / Layout Switcher -->
					<div class="row margin-bottom-15">

						<div class="col-md-6">
							<!-- Sort by -->
							<div class="sort-by">
								<label>Sort by:</label>

								<div class="sort-by-select">
									<select data-placeholder="등록순" class="chosen-select-no-single">
										<option>등록순</option>
										<option>Price Low to High</option>
										<option>Price High to Low</option>
										<option>Newest Properties</option>
										<option>Oldest Properties</option>
									</select>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<!-- Layout Switcher -->
							<div class="layout-switcher">
								<a href="#" class="list"><i class="fa fa-th-list"></i></a>
								<a href="#" class="grid"><i class="fa fa-th-large"></i></a>
								<a href="#" class="grid-three"><i class="fa fa-th"></i></a>
							</div>
						</div>
					</div>


					<!-- Listings -->
					<div class="listings-container list-layout">

						<!-- Listing Item -->
						<div class="listing-item">

							<a href="single-property-page-1.html" class="listing-img-container">

								<div class="listing-carousel">
									<div><img src="images/listing-01.jpg" alt=""></div>
									<div><img src="images/listing-01b.jpg" alt=""></div>
									<div><img src="images/listing-01c.jpg" alt=""></div>
								</div>
							</a>

							<div class="listing-content">

								<div class="listing-title">
									<h4><a href="single-property-page-1.html">파티이름</a></h4>
									<a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom"
										class="listing-address popup-gmaps">
									</a>

									<a href="party-detail.html" class="details button border">파티바로가기(세부정보)</a>
								</div>

								<ul class="listing-details">
									<li>티어 <span>다이아</span></li>
									<li>승률 <span>ㅁㄴ%</span></li>
									<li>평균 kda <span>2</span></li>
									<li>평균 딜량 <span>1</span></li>
								</ul>

								<div class="listing-footer">
									<a href="#"><i class="fa fa-user"></i> 작성자 인게임 닉네임</a>
									<span><i class="fa fa-calendar-o"></i> 작성일</span>
								</div>

							</div>

						</div>
						<!-- Listing Item / End -->


					

						

					</div>
					<!-- Listings Container / End -->

					<div class="clearfix"></div>
					<!-- Pagination -->
					<div class="pagination-container margin-top-20">
						<nav class="pagination">
							<ul>
								<li><a href="#" class="current-page">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li class="blank">...</li>
								<li><a href="#">22</a></li>
							</ul>
						</nav>

						<nav class="pagination-next-prev">
							<ul>
								<li><a href="#" class="prev">Previous</a></li>
								<li><a href="#" class="next">Next</a></li>
							</ul>
						</nav>
					</div>
					<!-- Pagination / End -->

				</div>

			</div>
		</div>


		<!-- Footer
================================================== -->
		<div class="margin-top-55"></div>

		<div id="footer" class="sticky-footer">
			<!-- Main -->
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-sm-6">
						<img class="footer-logo" src="images/logo.png" alt="">
						<br><br>
						<p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros.
							Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>
					</div>

					<div class="col-md-4 col-sm-6 ">
						<h4>Helpful Links</h4>
						<ul class="footer-links">
							<li><a href="#">Login</a></li>
							<li><a href="#">Sign Up</a></li>
							<li><a href="#">My Account</a></li>
							<li><a href="#">Add Property</a></li>
							<li><a href="#">Pricing</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>

						<ul class="footer-links">
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Our Agents</a></li>
							<li><a href="#">How It Works</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
						<div class="clearfix"></div>
					</div>

					<div class="col-md-3  col-sm-12">
						<h4>Contact Us</h4>
						<div class="text-widget">
							<span>12345 Little Lonsdale St, Melbourne</span> <br>
							Phone: <span>(123) 123-456 </span><br>
							E-Mail:<span> <a href="#">office@example.com</a> </span><br>
						</div>

						<ul class="social-icons margin-top-20">
							<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
							<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
							<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
							<li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
						</ul>

					</div>

				</div>

				<!-- Copyright -->
				<div class="row">
					<div class="col-md-12">
						<div class="copyrights">© 2016 Findeo. All Rights Reserved.</div>
					</div>
				</div>

			</div>

		</div>
		<!-- Footer / End -->


		<!-- Back To Top Button -->
		<div id="backtotop"><a href="#"></a></div>


		<!-- Scripts
================================================== -->
		<script type="text/javascript" src="/usr/assets/scripts/jquery-3.6.0.min.js"></script>
		<script type="text/javascript" src="/usr/assets/scripts/jquery-migrate-3.3.2.min.js"></script>
		<script type="text/javascript" src="/usr/assets/scripts/chosen.min.js"></script>
		<script type="text/javascript" src="/usr/assets/scripts/magnific-popup.min.js"></script>
		<script type="text/javascript" src="/usr/assets/scripts/owl.carousel.min.js"></script>
		<script type="text/javascript" src="/usr/assets/scripts/rangeSlider.js"></script>
		<script type="text/javascript" src="/usr/assets/scripts/sticky-kit.min.js"></script>
		<script type="text/javascript" src="/usr/assets/scripts/slick.min.js"></script>
		<script type="text/javascript" src="/usr/assets/scripts/mmenu.min.js"></script>
		<script type="text/javascript" src="/usr/assets/scripts/tooltips.min.js"></script>
		<script type="text/javascript" src="/usr/assets/scripts/masonry.min.js"></script>
		<script type="text/javascript" src="/usr/assets/scripts/custom.js"></script>





	</div>
	<!-- Wrapper / End -->


</body>

</html>