<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="~{include/xdmHead :: xdmHead}"></div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" media="screen"
		href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">

	<style>
		.d-flex {
			flex-wrap: wrap !important;

		}
	</style>
</head>

<body>

	<!-- Page wrapper start -->
	<div class="page-wrapper">

		<!-- Main container start -->
		<div class="main-container">
			
			<div th:replace="~{include/xdmAside :: xdmAside}"></div>

			<div th:replace="~{include/xdmHeader :: xdmHeader}"></div>

				<!-- App hero header starts -->
				<div class="app-hero-header d-inline-flexgn-items-start">

					<!-- Breadcrumb start -->
					<ol class="breadcrumb d-none d-lg-flex align-items-center">
						<li class="breadcrumb-item"><i class="bi bi-house"></i> <a href="index.html">Home</a></li>
						<li class="breadcrumb-item" aria-current="page">Tables</li>
					</ol>
					<!-- Breadcrumb end -->

					<!-- 고정 검색창 시작 -->
					<form name="formList" id="formList" method="get" autocomplete="off">
						<div class="ms-auto d-flex flex-row justify-content-end">
							<!--삭제여부 시작-->
							<div class="col-2 ms-5 mt-1">
								<select class="form-select" aria-label="Default select example" id="voDelNy"
									name="voDelNy">
									<option value="" th:selected="${vo.voDelNy == null}">삭제여부</option>
									<option value="1" th:selected="${vo.voDelNy == 1}">Y</option>
									<option value="0" th:selected="${vo.voDelNy == 0}">N</option>
								</select>
							</div>
							<!--삭제여부 끝-->
							<!-- 날짜 검색 시작 -->
							<div class="col-2 ms-2 mt-1">
								<select class="form-select" aria-label="Default select example" id="voOptionDate"
									name="voOptionDate">
									<option value="" th:selected="${vo.voOptionDate == null}">날짜</option>
									<option value="1" th:selected="${vo.voOptionDate == 1}">등록날짜</option>
									<option value="2" th:selected="${vo.voOptionDate == 2}">수정날짜</option>
								</select>
							</div>
							<div class="col mt-1 ms-1">
								<input type="text" id="voDateStart" name="voDateStart" placeholder="시작일"
									class="form-control form-control datetimepicker" autocomplete="off" readonly>
							</div>
							<div class="col mt-1 ms-1">
								<input type="text" id="voDateEnd" name="voDateEnd" placeholder="종료일"
									class="form-control form-control" autocomplete="off" readonly>
							</div>
						</div>
						<!-- 날짜 검색 끝 -->
						<!-- 검색 select 시작 -->
						<div class="ms-auto d-flex flex-row justify-content-end pt-2">
							<!-- <button type="button" id="btnReset" class="btn btn-outline-secondary btn-sm btn_custom">
								<i class="fa-solid fa-rotate-right fa-lg"></i>
							</button> -->

							<div class="col-2 ms-1 mt-1">
								<select class="form-select" aria-label="Default select example" id="voOption"
									name="voOption">
									<option value="" th:selected="${vo.voOption == null}">검색구분</option>
									<option value="1" th:selected="${vo.voOption == 1}">코드</option>
									<option value="2" th:selected="${vo.voOption == 2}">이름</option>
								</select>
							</div>

							<div class="search-container d-lg-block d-none me-2 ms-2 mt-1">
								<!-- 검색 바 시작 -->
								<div class="input-group ">
									<input type="text" class="form-control" placeholder="Search"
										aria-label="Recipient's username" aria-describedby="btnSearch" id="voValue"
										name="voValue" onkeyup="enterkey()">
									<button class="btn btn-outline-secondary" type="button" id="btnSearch">
										&nbsp; &nbsp; &nbsp; <i class="bi bi-search"></i>
									</button>
								</div>
								<!-- 검색 바 끝 -->
							</div>
								<!-- 페이징 처리 필요한 검색값 -->
								<input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/>
								<input type="hidden" id="rowNumToShowD" name="rowNumToShowD" th:value="${vo.rowNumToShow}"/>
						</div>
					</form>
					<!-- 고정 검색창 끝 -->

				</div>
				<!-- App Hero header ends -->

				<!-- App body starts -->
				<div class="app-body">

					<!-- Row start -->
					<div class="row">
						<div class="col-xxl-12">
							<div class="card mb-4">
								<!-- 총합 및 나열 값-->
								<div class="container row m-auto">
									<div class="fw-bold border-bottom col-3 mt-3 ms-5"
										style="text-align: center; font-size: large;">Total :
										2222</div>

									<div class="col-md-2 offset-md-6 mt-3">
										<select class="form-select" aria-label="Default select example" id="rowNumToShow" name="rowNumToShow" th:onchange="javascript:goList(1)">
											<option value="5" th:selected="${vo.rowNumToShow == 5}">5</option>
											<option value="10" th:selected="${vo.rowNumToShow == 10}">10</option>													
											<option value="50" th:selected="${vo.rowNumToShow == 50}">50</option>
										</select>
									</div>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table align-middle table-hover m-0">
											<thead>
												<tr>
													<th scope="col-2"><input class="form-check-input" type="checkbox"
															value="" id="flexCheckDefault" /></th>
													<th scope="col-2">Seq</th>
													<th scope="col-2">Name</th>
													<th scope="col-2">delNy</th>
													<th scope="col-2">codeGroupSeq</th>
													<th scope="col-2">modDate</th>
													<th scope="col-2">regDate</th>
													<th scope="col"></th>
												</tr>
											</thead>
											<tbody>
												<tr th:if="${!#lists.isEmpty(list)}" th:each="list:${list}">
													<td scope="row"><input class="form-check-input" type="checkbox"
															value="" id="flexCheckDefault" /></td>
													<td class="col"><a href="#"
															th:href="@{/codeView(codeSeq=${list.codeSeq},codeName=${list.codeName},codeDelNy=${list.codeDelNy})}"
															th:text="${list.codeSeq}">#001</a></td>
													<!-- <th>
															<img class="rounded-circle img-3x me-2" src="/xdm/assets/images/user.png"
																alt="Bootstrap Gallery" />
														</th> -->
													<td class="col-2" th:text="${list.codeName}">first1</td>
													<td class="col-2" th:text="${list.codeDelNy}">Last1</td>
													<td class="col" th:text="${list.codeGroupSeqF}">Last1</td>
													<td class="col-3"
														th:text="${#dates.format(list.codeModDate, 'yyyy-MM-dd일 HH:mm:ss')}">
													</td>
													<td class="col-3"
														th:text="${#dates.format(list.codeRegDate, 'yyyy-MM-dd일 HH:mm:ss')}">
													</td>
													<td class="col-2">
														<!-- uelete 버튼 시작 -->
														<button class="btn btn-danger btn-sm mb-1"
															data-bs-toggle="modal"
															th:data-bs-target="'#ueleteModal' + ${list['codeSeq']}"
															data-bs-target="#ueleteModal">
															<i class="bi bi-trash"></i>
														</button>
														<!-- uelete Modal -->
														<div class="modal fade" th:id="'ueleteModal' + ${list['codeSeq']}"
															id="ueleteModal" tabindex="-1"
															aria-labelledby="ueleteModalLabel" aria-hidden="true">
															<div class="modal-dialog">
																<div class="modal-content">
																	<div class="modal-header">
																		<h5 class="modal-title" id="ueleteModalLabel">
																			uelete 삭제 테스트</h5>
																		<button type="button" class="btn-close"
																			data-bs-dismiss="modal"
																			aria-label="Close"></button>
																	</div>
																	<form action="/codeUelete" method="post">
																		<div class="modal-body">
																			<input type="hidden" name="codeSeq"
																				th:value="${list.codeSeq}">
																			<span>정말 삭제하시겠습니까 ?</span>
																		</div>
																		<div class="modal-footer">
																			<button type="button"
																				class="btn btn-secondary"
																				data-bs-dismiss="modal">Close</button>
																			<button type="submit"
																				class="btn btn-primary">
																				uelete삭제</button>
																		</div>
																	</form>
																</div>
															</div>
														</div>
													</td>
												</tr>

											</tbody>
										</table>

										<!--페이지네이션-->
										<div th:replace="~{include/pagination :: pagination}"></div>
										
										<!-- 테이블 아래 쪽 삭제 -->
										<div class="d-flex justify-content-between flex-row ms-5">
											<div class="col-2">
												<a class="btn btn-danger btn-icon btn-sm mb-1" href="#"><i
														class="bi bi-trash"></i></a>
											</div>
											<!-- 테이블 아래 쪽 등록 버튼 -->
											<div class="col-2">
												<a class="btn btn-info btn-icon btn-sm mb-1" href="#"
													th:href="@{/codeInsertForm}" id="btnInsert">
													<i class="bi bi-plus-circle"></i></a>
											</div>


										</div>


									</div>
								</div>
							</div>
						</div>
						
					<!-- Row end -->

				</div>
				<!-- App body ends -->

				<!-- App footer start -->
				<div class="app-footer">
					<span>© Bootstrap Gallery 2023</span>
				</div>
				<!-- App footer end -->

			</div>
			<!-- App container ends -->

		</div>
		<!-- Main container end -->

	</div>
	<!-- Page wrapper end -->

	<div th:replace="~{include/commonjs :: commonXdmJs}"></div>


	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

	<script type="text/javascript">
		//데이트타임피커
		$(function () {
			$("#voDateStart, #voDateEnd").datetimepicker({
				format: "Y-m-d",
				timepicker:false
			});
		});
	
			
window.addEventListener('load', function () {
			$("#voDateStart, #voDateEnd").datetimepicker();
		});

		let form = document.querySelector("form[name=formList]");
		let goUrlXdmList = "/codeXdmList";								
		let goUrlXdmInstForm = "/codeInsertForm";							
		let goUrlXdmView = "/codeXdmView";								
/*
		let goUrlXdmMultiUele = "/infra/codegroup/codeGroupXdmMultiUele";			
		let goUrlXdmMultiDele = "/infra/codegroup/codeGroupXdmMultiDele";			
		*/

		let seq = document.querySelector("input[name=codeSeq]");									/* ### */

		// document.getElementById("btnReset").onclick = function () {
		// 	location.href = goUrlXdmList;
		// }

/*
		document.getElementById("btnForm").onclick = function () {
			goForm(0);
		}
*/

		goForm = function (keyValue) {
			seq.value = keyValue;
			form.action = goUrlXdmForm;
			form.submit();
		}

		document.getElementById("btnSearch").onclick = function () {
			alert("222");
			form.action = goUrlXdmList;
			form.submit();
		};
		
		function enterkey() {
			if (window.event.keyCode == 13) {
			    form.action = goUrlXdmList;
			    form.submit();
		    }
		}

		goList = function (thisPage) {
		    document.querySelector("input[name=thisPage]").value = thisPage;
		    form.action = goUrlXdmList;
		    form.submit();
		}

	
		
	</script>

</body>

</html>