<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="~{include/xdmHead :: xdmHead}"></div>
</head>

<body>

	<!-- Page wrapper start -->
	<div class="page-wrapper">

		<!-- Main container start -->
		<div class="main-container">

			<div th:replace="~{include/xdmAside :: xdmAside}"></div>

			<div th:replace="~{include/xdmHeader :: xdmHeader}"></div>

			

				<!-- App hero header starts -->
				<div class="app-hero-header d-flex align-items-start">

					<!-- Breadcrumb start -->
					<ol class="breadcrumb d-none d-lg-flex align-items-center">
						<li class="breadcrumb-item">
							<i class="bi bi-house"></i>
							<a href="index.html">Home</a>
						</li>
						<li class="breadcrumb-item">tables</li>
						<li class="breadcrumb-item" aria-current="page">
							view
						</li>
					</ol>
					<!-- Breadcrumb end -->



				</div>
				<!-- App Hero header ends -->

				<!-- App body starts -->
				<div class="app-body">

					<!-- Row start -->
					<div class="row">
						<div class="col-xxl-12">
							<div class="card mb-4">
								<div class="card-body">
									<table class="table align-middle table-hover m-0">
										<thead>
											<tr>
												<th scope="col-2">seq</th>
												<th scope="col-2">Name</th>
												<th scope="col-2">modDate</th>
												<th scope="col-2">regDate</th>
												<th scope="col-2">delNy</th>

											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="col-1" th:text="${item.codeSeq}">#001</td>
												<!-- <th>
															<img class="rounded-circle img-3x me-2" src="/xdm/assets/images/user.png"
																alt="Bootstrap Gallery" />
														</th> -->
												<td class="col-2" th:text="${item.codeName}">first1</td>
												<td class="col-3"
													th:text="${#dates.format(item.codeModDate, 'yyyy-MM-dd일 HH:mm:ss')}">
												</td>
												<td class="col-3"
													th:text="${#dates.format(item.codeRegDate, 'yyyy-MM-dd일 HH:mm:ss')}">
												</td>
												<td class="col-1" th:text="${item.codeDelNy}">
												</td>

											</tr>

										</tbody>
									</table>

									<!-- 테이블 아래 쪽 뒤로가기 -->
									<div class="d-flex justify-content-between flex-row ms-5 pt-5">
										<div class="col-2">
											<a class="btn btn-danger btn-icon btn-sm mb-1" href="#"
												th:href="@{/codeXdmList}"><i class="bi bi-arrow-left"></i></a>
										</div>
										<!-- 테이블 아래 쪽 등록 버튼 -->

										<div class="col-2">
											<a class="btn btn-info btn-sm mb-1" href="#"
												th:href="@{/codeUpdateForm(codeSeq=${item.codeSeq}, codeName=${item.codeName})}">
												<i class="bi bi-pencil"></i>
											</a>

											<!-- uelete 버튼 시작 -->
											<button class="btn btn-danger btn-sm mb-1" data-bs-toggle="modal"
												th:data-bs-target="'#ueleteModal' + ${item['codeSeq']}"
												data-bs-target="#ueleteModal">
												<i class="bi bi-trash"></i>
											</button>
											<!-- uelete Modal -->
											<div class="modal fade" th:id="'ueleteModal' + ${item['codeSeq']}"
												id="ueleteModal" tabindex="-1" aria-labelledby="ueleteModalLabel"
												aria-hidden="true">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="ueleteModalLabel">
																uelete 삭제 테스트</h5>
															<button type="button" class="btn-close"
																data-bs-dismiss="modal" aria-label="Close"></button>
														</div>
														<form action="/codeUelete" method="post">
															<div class="modal-body">
																<input type="hidden" name="codeSeq" th:value="${item.codeSeq}">
																<span>정말 삭제하시겠습니까 ?</span>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary"
																	data-bs-dismiss="modal">Close</button>
																<button type="submit" class="btn btn-primary">
																	uelete삭제</button>
															</div>
														</form>
													</div>
												</div>
											</div>
											<!-- delete 버튼 시작 -->
											<button class="btn btn-danger btn-sm mb-1" data-bs-toggle="modal"
												th:data-bs-target="'#deleteModal' + ${item['codeSeq']}"
												data-bs-target="#deleteModal">
												<i class="bi bi-x-lg"></i>
											</button>
											<!-- delete Modal -->
											<div class="modal fade" th:id="'deleteModal' + ${item['codeSeq']}"
												id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
												aria-hidden="true">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="deleteModalLabel">
																delete 삭제 테스트</h5>
															<button type="button" class="btn-close"
																data-bs-dismiss="modal" aria-label="Close"></button>
														</div>
														<form action="/codeDelete" method="post">
															<div class="modal-body">
																<input type="hidden" name="codeSeq" th:value="${item.codeSeq}">
																<span>정말 삭제하시겠습니까 ?</span>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary"
																	data-bs-dismiss="modal">Close</button>
																<button type="submit" class="btn btn-primary">
																	delete삭제</button>
															</div>
														</form>
													</div>
												</div>
											</div>

										</div>

									</div>


								</div>
							</div>
						</div>
					</div>
					<!-- Row end -->



				</div>
				<!-- App body ends -->

				<!-- App footer start -->
				<div class="app-footer">
					<span>© Bootstrap Gallery 2023</span>
				</div>
				<!-- App footer end -->

			</div>
			<!-- App container ends -->

		</div>
		<!-- Main container end -->

	</div>
	<!-- Page wrapper end -->

	<div th:replace="~{include/commonjs :: commonXdmJs}"></div>
	
</body>

</html>