<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="~{include/usrHead :: usrHead}"></div>
</head>

<body>

	<!-- Wrapper -->
	<div id="wrapper">
		<div th:replace="~{include/usrHeader :: usrHeader}"></div>

		<!-- Titlebar
================================================== -->
		<div id="titlebar" class="property-titlebar margin-bottom-0">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					<form name="formInsert" id="formInsert" method="post">
						<input type="hidden" name="partySeq" id="partySeq" th:value="${item.partySeq}" />
						<button type="button" 
							th:if="${item.xMemberSeqF != session.sessMemberSeq}" id="btnRequest" href="#" class="back-to-listings">신청
						</button>
						<div 
							th:unless="${item.xMemberSeqF != session.sessMemberSeq}" href="#" class="back-to-listings">파티장입니다.
						</div>
						<div class="property-title">
							<h2 th:text="${item.partyName}">파티 이름</h2>
						</div>
					</form>



					</div>
				</div>
			</div>
		</div>


		<!-- Content
================================================== -->

		<!-- Slider -->
		<div class="fullwidth-property-slider margin-bottom-50">
			<a href="images/single-property-01.jpg" data-background-image="images/single-property-01.jpg"
				class="item mfp-gallery"></a>
			<a href="images/single-property-02.jpg" data-background-image="images/single-property-02.jpg"
				class="item mfp-gallery"></a>
			<a href="images/single-property-03.jpg" data-background-image="images/single-property-03.jpg"
				class="item mfp-gallery"></a>
		</div>


		<div class="container">
			<div class="row">

				<!-- Property Description -->
				<div class="col-lg-12 col-md-7">
					<div class="property-description">

						<!-- Main Features -->
						<ul class="property-main-features">
							<li>파티장 이름 : <span th:if="${item.xMasterNy =='1'}" th:text="${item.xMemberName}">555</span>
							</li>
							<li>티어 :
								<span th:if="${item.xMasterNy == '1' && item.xMemberTierCd != null}" th:text="${@codeService.selectOneCachedCode(item.xMemberTierCd)}">다이아</span>
								<span class="table-property-price" th:unless="${item.xMasterNy == '1' && item.xMemberTierCd != null}">파티장이 티어를 등록하지않았습니다.</span>
								</li>
							<li>평균 kda 
								<span th:if="${item.xMasterNy =='1' && item.xMemberKDA != null}" th:text="${item.xMemberKDA}">55</span>
								<span th:unless="${item.xMasterNy =='1' && item.xMemberKDA != null}">파티장이 KDA등록을 안했습니다.</span>
							</li>

							<li>평균 승률 
								<span th:if="${item.xMasterNy =='1' && item.xMemberVictoryRate != null}" th:text="${item.xMemberVictoryRate}">55</span>
								<span th:unless="${item.xMasterNy =='1' && item.xMemberVictoryRate != null}">파티장이 승률 등록을 안했습니다.</span>
								
							</li>
						</ul>


						<!-- Description -->
						<h3 class="desc-headline">파티 Dept </h3>
						<div class="description container">

							<p th:text="${item.partyDept}">블라블라</p>

						</div>


						<h3 class="desc-headline no-border">현재 가입한 파티원</h3>

						<div class="container">
							<div class="row fullwidth-layout">

								<div class="col-md-12">

									<div class="row margin-bottom-15">

										<div class="col-md-6">
											<div class="sort-by">
											</div>
										</div>
									</div>


									<div class="listings-container list-layout">

										<div class="listing-item">

											<a href="single-property-page-1.html" class="listing-img-container">
												<div><img src="xdm/assets/images/listing-01.jpg" alt=""></div>
											</a>
											<!-- 파티원 리스트 출력 시작 -->
											<div class="listing-content" th:if="${!#lists.isEmpty(list)}" th:each="list:${list}">

												<div class="listing-title">
													<h4 th:text="${list.xMemberName}">파티원 1 이름</h4>
												</div>

												<ul class="listing-details">
													<li>티어 :<span th:if="${list.xMemberTierCd != null}" th:text="${@codeService.selectOneCachedCode(list.xMemberTierCd)}">다이아</span>
															<span th:unless="${list.xMemberTierCd != null}">사용자가 티어를 등록하지 않았습니다.</span>
													</li>
													
													<li>승률 :<span th:if="${list.xMemberVictoryRate != null}" th:text="${list.xMemberVictoryRate}">다이아</span>
															<span th:unless="${list.xMemberVictoryRate != null}">사용자가 티어를 등록하지 않았습니다.</span>
													</li>

													<li>평균 kda :<span th:if="${list.xMemberKDA != null}" th:text="${list.xMemberKDA}">다이아</span>
																<span th:unless="${list.xMemberKDA != null}">사용자가 티어를 등록하지 않았습니다.</span>
													</li>
												</ul>

												<div class="listing-footer">
													파티 가입일  <i class="fa fa-calendar-o">&nbsp;&nbsp;<span th:text="${#dates.format(list.xPartyJoinDate, 'yy.MM.dd')}"></i></span>
												</div>

											</div>

										</div>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>
				<!-- Property Description / End -->


				<!-- Sidebar -->

			</div>
			<!-- Sidebar / End -->
		</div>
	</div>


	<!-- Footer
================================================== -->
	<div class="margin-top-55"></div>

	<div th:replace="~{include/usrFooter :: usrFooter}"></div>




	</div>
	<!-- Wrapper / End -->

	<!-- Scripts
================================================== -->
	<div th:replace="~{include/commonjs :: commonUsrJs}"></div>

	<script>
		let form = document.querySelector("form[name=formInsert]");
			let seq = document.querySelector("input[name=seq]");
			let goUrlXdmInstForm = "/insertRequest";

			// 등록버튼
			document.getElementById("btnRequest").onclick = function () {
					form.action = goUrlXdmInstForm
					form.submit();
			}
	</script>
</body>

</html>