<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="commonjs">
	<!-- Required jQuery first, then Bootstrap Bundle JS -->
	<script src="/xdm/assets/js/jquery.min.js"></script>
	<script src="/xdm/assets/js/bootstrap.bundle.min.js"></script>

	<!-- *************
			************ Vendor Js Files *************
		************* -->

	<!-- Overlay Scroll JS -->
	<script src="/xdm/assets/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
	<script src="/xdm/assets/vendor/overlay-scroll/custom-scrollbar.js"></script>

	<!-- Custom JS files -->
	<script src="/xdm/assets/js/custom.js"></script>
	<script src="/xdm/assets/js/validations.js"></script>

	
	
</th:block>