<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="usrFooter">

		<div id="footer" class="sticky-footer">
			<!-- Main -->
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-sm-6">
						<img class="footer-logo" src="xdm/assets/images/logoERR-dark.svg" alt="">
						<br><br>
						<p>이터널리턴 API를 사용한 전적검색사이트</p>
					</div>

					<div class="col-md-4 col-sm-6 ">
						<h4>Helpful Links</h4>
						<ul class="footer-links">
							<li><a href="#" th:href="@{/myProfileMyPartys}">My Account</a></li>
							<li><a href="#" th:href="@{/}">PotfolioIndex</a></li>
							<li><a href="#" th:href="@{/userIndex}">UserIndex</a></li>
							<li><a href="#" th:href="@{/adminLoginRegister}">Admin Login</a></li>
						</ul>
					
						<div class="clearfix"></div>
					</div>

					<div class="col-md-3  col-sm-12">
						<h4>Contact Me</h4>
						<div class="text-widget">
							<span>서울시 도봉구 시루봉로71</span> <br>
							Phone: <span>(010) 7174-2345 </span><br>
							E-Mail:<span> <a href="#">lhansol1996@gmail.com</a> </span><br>
						</div>

					</div>

				</div>

				<!-- Copyright -->
				<div class="row">
					<div class="col-md-12">
						<div class="copyrights">© 2024 ERR. All Rights Reserved.</div>
					</div>
				</div>

			</div>

		</div>
		<!-- Footer / End -->


		<!-- Back To Top Button -->
		<div id="backtotop"><a href="#"></a></div>
	
</th:block>
