<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="usrHeader">
    <header id="header-container">

        <!-- Topbar -->
        <div id="top-bar">
            <div class="container">
                <div class="right-side-top">
                    <!-- 헤더 오른쪽 검색 창 -->
                    <form name="formTop" id="formTop" method="get" autocomplete="off">
                        <div class="main-search-form">
                            <div class="top-search-input larger-input">
                                <input type="text" class="ico-01" id="XtopBarSearchInputValue"
                                    name="XtopBarSearchInputValue" placeholder="캐릭터 검색" value=""
                                    onkeypress="enterkeyTop(event)" />
                                <button class="button border" type="button" id="searchTopBtn"
                                    style="background-color: rgb(93, 136, 255);">Search</button>

                                <input type="text" class="ico-01" id="XtopBarSearchInputValue2" name="XtopBarSearchInputValue2" placeholder="유저 검색" value="" />
                                <button class="button border" type="button" id="searchTopBtn2"
                                    style="background-color: rgb(93, 136, 255);">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- Topbar / End -->


        <!-- Header -->
        <div id="header">
            <div class="container">

                <!-- Left Side Content -->
                <div class="left-side">
                    <!-- Logo -->
                    <div id="logo">
                        <a th:href="@{/userIndex}" href="#"><img src="xdm/assets/images/logoERR-dark.svg" alt=""></a>
                    </div>
                    <span>반갑습니다!! : <span th:text="${session.sessMemberId}"></span>



                    <!-- Main Navigation -->
                    <nav id="navigation" class="style-1"></nav>
                    <div class="clearfix"></div>
                    <!-- Main Navigation / End -->

                </div>
                <!-- Left Side Content / End -->

                <!-- Right Side Content / End -->
                <div class="right-side">
                    <!-- Header Widget -->
                    <div class="header-widget">
                        <a th:if="${session.sessMemberSeq == null}" href="login-register.html"
                            th:href="@{/memberLoginRegister}" class="sign-in"><i class="fa fa-user"></i> Log In /
                            Register</a>
                        <button th:unless="${session.sessMemberSeq == null}" class="btn btn-primary" type="button"
                            id="btnLogout"
                            style="--bs-btn-padding-y: 1.5rem; --bs-btn-padding-x: 1.5rem; --bs-btn-font-size: 1rem; margin-bottom:37px;">로그아웃</button>

                        <a th:if="${session.sessMemberSeq != null}" href="submit-property.html" th:href="@{/myProfileUpdate}" class="button border">my
                            account 가기</a>
                        </div>
                    
                    <!-- Header Widget / End -->
                </div>
                <!-- Right Side Content / End -->

            </div>
        </div>
        <!-- Header / End -->

    </header>
    <div class="clearfix"></div>

</th:block>