<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="xdmHeader">


			<!-- App container starts -->
			<div class="app-container">

				<!-- App header starts -->
				<div class="app-header d-flex align-items-center">

					<!-- Toggle buttons start -->
					<div class="d-flex">
						<button class="btn btn-outline-primary me-2 toggle-sidebar" id="toggle-sidebar">
							<i class="bi bi-text-indent-left fs-5"></i>
						</button>
						<button class="btn btn-outline-primary me-2 pin-sidebar" id="pin-sidebar">
							<i class="bi bi-text-indent-left fs-5"></i>
						</button>
					</div>
					<!-- Toggle buttons end -->


					<!-- App brand sm start -->
					<div class="app-brand-sm d-md-none d-sm-block">
						<a href="index.html"> <img src="/xdm/assets/images/logo-sm.svg" class="logo"
								alt="Bootstrap Gallery">
						</a>
					</div>
					<!-- App brand sm end -->

					<!-- App header actions start -->
        <div class="header-actions">
            <div class="search-container d-lg-block d-none me-2">
                <!-- Search container start -->
                <input type="text" class="form-control" placeholder="Search" />
                <i class="bi bi-search"></i>
                <!-- Search container end -->
            </div>
            <div class="dropdown ms-3">
                <a id="userSettings" class="dropdown-toggle d-flex py-2 align-items-center ps-3 border-start" href="#!"
                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="d-none d-md-block me-2">환영합니다! &nbsp;[[${session.sessMemberName}]] &nbsp;님</span>
                    <img src="/xdm/assets/images/user.png" class="rounded-circle img-3x" alt="Bootstrap Gallery" />
                </a>
                <div class="dropdown-menu dropdown-menu-end shadow">
                    <button type="button" id="btnXdmLogout" class="dropdown-item d-flex align-items-center"><i
                            class="bi bi-escape fs-4 me-2"></i>Logout</button>
                </div>
            </div>
        </div>
        <!-- App header actions end -->

				</div>
				<!-- App header ends -->
</th:block>