<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="xdmHead">
	
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>ERR 전적검색</title>
	
		<!-- Meta -->
		<meta name="description" content="Marketplace for Bootstrap Admin Dashboards" />
		<meta name="author" content="Bootstrap Gallery" />
		<link rel="canonical" href="https://www.bootstrap.gallery/">
		<meta property="og:url" content="https://www.bootstrap.gallery">
		<meta property="og:title" content="Admin Templates - Dashboard Templates | Bootstrap Gallery">
		<meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
		<meta property="og:type" content="Website">
		<meta property="og:site_name" content="Bootstrap Gallery">
		<link rel="shortcut icon" href="/xdm/assets/images/favicon.svg" />
	
		<!-- *************
				************ CSS Files *************
			************* -->
		<link rel="stylesheet" href="/xdm/assets/fonts/bootstrap/bootstrap-icons.css" />
		<link rel="stylesheet" href="/xdm/assets/css/main.min.css" />
	
		<!-- *************
				************ Vendor Css Files *************
			************ -->
	
		<!-- Scrollbar CSS -->
		<link rel="stylesheet" href="/xdm/assets/vendor/overlay-scroll/OverlayScrollbars.min.css" />
	
</th:block>